*{
    margin: 0;
    padding: 0;
    
}

body {}



.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}


.home{
    padding: 10px;
}

.home ul li{
    display: flex;
    gap: 3px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}


